<!DOCTYPE html>

<html>

<head>
    <title>Agregar Movimiento</title>
</head>

<body>

    <h1>Agregar Movimiento</h1>

    <form>

        <label>Nombre del movimiento</label>
        <input type="text">

        <br><br>

        <label>Tipo de movimiento</label>

        <select>

            <option>Venta</option>

            <option>Compra</option>

            <option>Intercambio</option>

            <option>Viático</option>

            <option>Gasto</option>

            <option>Aporte</option>

        </select>

        <br><br>

        <label>Efectivo ganado $</label>
        <input type="number">

        <br><br>

        <label>Efectivo gastado $</label>
        <input type="number">

        <br><br>

        <button>
            Guardar
        </button>


    </form>
</body>
</html>