<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h2 class="add_title">Agregar Movimiento</h2>

<form method="POST">

    <input name="nombre" placeholder="Nombre del movimiento">

    <br><br>

    <select name="tipo">
        <option value="venta">Venta</option>
        <option value="compra">Compra</option>
        <option value="viatico">Viático</option>
        <option value="gasto">Gasto</option>
        <option value="intercambio">Intercambio</option>
    </select>

    <br><br>

    <input name="efectivo_ganado" placeholder="Efectivo ganado">

    <br><br>

    <input name="efectivo_gastado" placeholder="Efectivo gastado">

    <br><br>

    <textarea name="notas" placeholder="Notas"></textarea>

    <br><br>

    <button class="btn bck-color" type="submit">Guardar</button>

    <a href="{{ url_for('index') }}" class="btn back-text">Regresar</a>
</form>
